:root {
  --green: #A5DD9B;
  --light-green: #C5EBAA;
  --yellow: #F6F193;
  --nude: #F2C18D;
  --text: black;
  --text-contrast: white;
  --error: #FF7D8B;
}


body {
  background-image: linear-gradient(to top, #a5dd9b, #abe09e, #b1e2a0, #b7e4a3, #bde7a6, #c5e5a2, #cce39f, #d3e19c, #ddd994, #e5d18f, #ecc98d, #f2c18d);
  color: white;
}


